@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #showOffcanvas{
        display: flex;
        justify-content: space-between;
    }
    .profile-pic img{
        width: 20rem;
        height: 20rem;
    }
    #about{
        margin-top: 8rem;
    }
    
}
@media screen and (min-width: 700px) and (max-width: 1200px){
    .projects-container{
        flex-wrap: wrap;
    }
    #profile, .about-container{
        flex-direction: column;
        min-height: 100vh;
    }
    .profile-pic img{
        width: 25rem;
        height: 25rem;
    }
}
@media screen and (max-width:700px) {
    #profile{
        flex-direction: column;
        min-height: 100vh;
    }
    .about-container,.projects-container, .contact-me{
        flex-direction: column;
    }
    .about-pic img{
        width: 25rem;
        height: 25rem;
    }
    .about-me{
        width: 35rem;
    }
    .experience-box{
        flex-direction: column;
    }
    .projects-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project{
        width: 70%;  
    } 
}


