@media (max-width: 499px) {
    nav h1{
        display: none;
    }
    .hero{
        background-image: url('./assets/nilou.JPG');
    }
    .hero-content{
        position: absolute;
        top: 67%; 
        left: 50%; 
        transform: translate(-50%,-50%); 
        text-align: center; 
        max-width: 100%;
    }
    .hero-content h1 {
        width: 100%;
        font-size: 1.5rem;
    }
    /* about */
    .info, .moreInfo{
        flex-direction: column;
    }
    .info{
        gap:2rem;
    }
    .info p{
        width: 100%;
        font-size: 1rem;
    }
    .moreInfo{
        gap: 1rem;
        width: 90%;
    }
    /* projects */
    .card-img {
        height: 200px;
    }
}
@media (min-width: 500px) and (max-width: 767.98px) {
    .hero{
        background-image: url('./assets/nilou.JPG');
    }
    .hero-content{  
        top: 67%; 
        left: 50%; 
        transform: translate(-50%,-50%); 
        text-align: center; 
        max-width: 100%;
    }
    .hero-content h1 {
        width: 100%;
        font-size: 1.5rem;
    }
    /* about */
    .info, .moreInfo{
        flex-direction: column;
    }
    .info{
        gap:2rem;
    }
    .info p{
        width: 100%;
        font-size: 1.2rem;
    }
    .moreInfo{
        gap: 1rem;
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-content{  
        top: 50%; 
        left: 70%; 
        transform: translate(-50%,-50%); 
        text-align: center; 
        max-width: 100%;
    }
    .hero-content h1 {
        width: 100%;
        font-size: 2rem;
    }
    .info, .moreInfo{
        flex-direction: column;
    }
    .info p{
        width: 85%;
        font-size: 1rem;
    }
    .info{
        gap:2rem;
    }
    .moreInfo{
        gap: 1rem;
        width: 65%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .hero-content{  
        top: 50%; 
        left: 75%; 
        transform: translate(-50%,-50%); 
        text-align: center; 
        max-width: 100%;
    }
    .hero-content h1 {
        width: 100%;
        font-size: 2.3rem;
       
    }
    .info p{
        width: 85%;
        font-size: 1rem;
    }
    .info img{
        width: 23rem;
        height: 23rem;
    }
    .moreInfo{
        gap: 2rem;
        width: 85%;
    }

}

@media (min-width: 1200px) {
    .info img{
        width: 28rem;
        height: 28rem;
    }
    .info p{
        width: 85%;
        font-size: 1.4rem;
    }
}
